body {
    background-color: pink;
    color: rgb(4, 53, 38);
}
a {
    color: black;
}
p {
    color:purple;
}
.header {
    text-align: center;
}
.footer{
    background-color: blue;
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 20cm;
}
